@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --font-family: 'Nunito', sans-serif;
  
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    
    --color-bg: #0B0C10;
    --color-elements : #1F2833;
    --color-accent: #66FCF1;
    --color-text: #C5C6C7;
    --color-subaccent: #45A29E;
  }